<!DOCTYPE html>
<html>

<head>
  <title>CLIFF: Entity Extraction and Geoparsing for News Articles</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/css/mediacloud.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/cliff-homepage.css"/>
</head>

<body>

<div class="header">
  <div class="branding">
    <div class="container">
      <h1>
        <img src="/static/img/mediacloud-logo-white-2x.png" alt="Media Cloud" width="100" class="logo">
        <strong>CLIFF-CLAVIN</strong>
      </h1>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    {% block content %}
    {{ content |safe }}
    {% endblock %}
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="https://mediacloud.org/"><img src="/static/img/mediacloud-logo-black-2x.png" height="100" alt="Media Cloud Project"></a>
        <a href="https://dataculture.northeastern.edu"><img src="/static/img/dcg-logo.png" height="100" alt="Northeastern Data Culture Group"></a>
        <a href="https://dataplusfeminism.mit.edu/"><img src="/static/img/dflab-logo.png" height="100" alt="MIT Data + Feminism Lab"></a>
      </div>
      <div class="col-md-6">
        <small>v{{version}}</small>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60744513-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-60744513-13');
</script>

</body>

</html>
