{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2><strong>Entity Extraction and Geoparsing for News Articles</strong></h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <p class="intro">
    CLIFF-CLAVIN parses news articles and pulls out people, organizations and places mentioned.  A number of tools do this, so why did we create CLIFF-CLAVIN? We've built on those tools to add disambiguation tailored to the ways news articles are written, and a concept of "focus" that tries to get at what place an article is really about (as opposed to all the places it mentions).  We wrote CLIFF-CLAVIN to help drive our <a href="https://mediacloud.org/">Media Cloud</a> suite of tools, but are sharing it in hopes that others find it useful.
    </p>
    <p>
    <div class="btn-group" role="group" aria-label="download">
        <button type="button" class="btn btn-default"><a href="https://github.com/mediacloud/cliff-docker">Install (Docker)</a></button>
        <button type="button" class="btn btn-default"><a href="https://pypi.python.org/pypi/mediacloud-cliff/">Python API Client</a></button>
        <button type="button" class="btn btn-default"><a href="https://github.com/mediacloud/cliff-annotator">Source Code</a></button>
    </div>
    </p>

    <h3>Credits</h3>
    <p>CLIFF-CLAVIN is a Java-based web service that receives raw English text and returns JSON.
    <a href="https://github.com/mediacloud/cliff-annotator">CLIFF-CLAVIN is open source and hosted on GitHub</a>.
    We've built on top of a number of other tools:
    <ul>
        <li>We started off by extending <a href="http://clavin.bericotechnologies.com/">Berico Technologies' CLAVIN geoparsing tool</a>.  In fact, this is why we called our tool CLIFF! (<a href="http://en.wikipedia.org/wiki/Cliff_Clavin">get the joke?</a>)</li>
        <li>We rely on <a href="http://nlp.stanford.edu/software/CRF-NER.shtml">Stanford's Named Entity Recognizer</a> to extract strings that might be people or places from articles.</li>
        <li>We pull places from the <a href="http://www.geonames.org/">GeoNames gazeteer</a>.</li>
    </ul>
    </p>
    <p>
    CLIFF-CLAVIN is primarily maintained by Rahul Bhargava (<a href="https://dataculture.northeastern.edu/">Northeastern Data Culture Group</a>) and Catherine D'Ignazio (<a href="http://dataplusfeminism.mit.edu">MIT Data + Feminism Lab</a>).
    </p>

    <h3>Citing CLIFF-CLAVIN</h3>
    <p>
    D’Ignazio, C., Bhargava, R., Zuckerman, E., &amp; Beck, L. (2014). <a href="http://agava.ijs.si/~blazf/NewsKDD2014/submissions/newskdd2014_submission_10.pdf">CLIFF-CLAVIN: Determining geographic focus for news</a>. In NewsKDD: Data Science for News Publishing, at KDD 2014. New York, NY, USA.
    </p>

    <h3>Geoparsing Accuracy</h3>
    <p>
    Geoparsing accuracy is hard to measure.  We started by building on top of CLAVIN because it performed best in our testing.  We rely on Stanford's NER for the precision and recall pieces of the geoparsing puzzle.  For geographic disambiguation, we wrote our own set of heuristics tuned to countries and cities.  On top of that we added a simple definition of "focus" to determine which countries and cities an article is actually about (as opposed to all of them that are mentioned).
    </p>
    <p>
    Encoding these very human concepts was difficult, and so is measuring how well we are doing.  Here are a few ways we check our results:
    <ol>
        <li>
        We hand-coded a set of 25 articles each from the BBC, Huffington Post, New York Times to determine what countries they were about.  CLIFF-CLAVIN's focus metric matches the hand-coded results correctly 95% of the time.
        </li>
        <li>
        We pulled thousands of articles from the <a href="http://catalog.ldc.upenn.edu/LDC2008T19">New York Times Annotated corpus</a> and tested against the "locations" tag.  At the basic level of places mentioned, the list of countries CLIFF-CLAVIN finds has all the countries on their "locations" list 85% of the time.  Looking at our concept of "focus", the list of coutries CLIFF-CLAVIN thinks the article is about are on their list of locations 90% of the time.
        </li>
        <li>
        We pulled thousands of articles from the <a href="http://trec.nist.gov/data/reuters/reuters.html">Reuters RCV1 corpus</a> and tested against the "codes['bip:countries:1.0']" tag.  For places mentioned, the list of countries CLIFF-CLAVIN finds has all the countries Reuters coded 94% of the time.  For "focus", the list of countries CLIFF-CLAVIN thinks the article is about are on the Reuters list 91% of the time.
        </li>
        <li>
        We created a set of special cases we wanted to make sure we processed correctly.  For instance, we want to choose the <i>city</i> "Paris" over the <i>administrative district</i> that is also called "Paris".
        </li>
    </ol>
    </p>

  </div>
  <div class="col-sm-6">
    <h3>Try it now!</h3>
    <form id="tryItForm" action="/process" method="POST">
      <div class="form-group">
        <label for="text" class="control-label">Text</label>
        <textarea maxlength="250" id="tryItText" name="text" class="form-control" rows="3">Some clever text mentioning places like New Delhi, and people like Einstein.  Perhaps also we want mention an organization like the United Nations?</textarea>
      </div>
      <div class="form-group">
        <label for="language" class="control-label">Language</label>
        <select id="tryItLanguage" class="form-control" name="language">
          <option value="EN">English</option>
          <option value="ES">Spanish</option>
          <option value="DE">German</option>
        </select>
      </div>
      <div class="form-group">
        <label for="language" class="control-label">Options</label>
        <br />
        <input id="tryItDemonyms" name="demonyms" type="checkbox" value=""> Try extra hard to catch demonyms (but be slower)
      </div>
      <div class="form-group">
        <button id="tryItButton" type="button" class="btn btn-primary">Try it!</button>
      </div>
    </form>
    <h4>Results</h4>
    <pre id="cliffResults" class="code"></pre>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(function(){
    $("#tryItButton").click(function(){
        // disable UI
        $( "#tryItForm textarea" ).prop( "disabled", true );
        $( "#tryItForm button" ).prop( "disabled", true );
        $( "#cliffResults").html("Loading...");
        // submit request
        $.ajax({
          url:'/process',
          data: {
            'text': $('#tryItText').val(),
            'demonyms': $('#tryItDemonyms').is(':checked'),
            'language': $('#tryItLanguage').val()
          },
          type: "POST",
          dataType : "json",
          // print out JSON results nicely
          success: function( content ) {
            $('#cliffResults').html(JSON.stringify(content,null,"  "));
          },
          // print out error nicely
          error: function( xhr, status, errorThrown ) {
            $('#cliffResults').html(status+": "+errorThrown);
          },
          // update UI
          complete: function( xhr, status ) {
            $( "#tryItForm textarea" ).prop( "disabled", false );
            $( "#tryItForm button" ).prop( "disabled", false );
          }
        });
    });
    $("#tryItButton").click();
});
</script>
{% endblock %}
